.row-layout {
    display: flex;
}
.master-view-container {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 100%;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.form_fields {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;
}
.actions {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-start;
    gap: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.form {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    padding: 24px;
    min-width: 50px;
    min-height: 50px;
    flex-shrink: 0;
}
.button {
    --ig-size: var(--ig-size-medium);
    flex-shrink: 0;
}
